.box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 12.5%;
}

.temperature {
  font-size: calc(75px + 1.5vw);
  font-weight: 800;
}

.city {
  padding-top: 7%;
  padding-bottom: 0%;
  font-size: calc(20px + 0.5vw);
}
