body {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  /* padding-top: 150px; */
  width: 90%;
}

.temperature h1 {
  color: #f7f4ea;
  font-size: 14vw;
}

.temperature {
  /* flex-grow: 2; */
  padding-left: 5%;
}

.city {
  font-size: 4vw;
  display: flex;
  flex-flow: column wrap;
  /* flex-grow: 1.5; */
  align-items: center;
  color: #f7f4ea;
}

.time-details {
  font-size: 1.26vw;
}

.icons {
  font-size: 1.9vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: #f7f4ea;
}

.icons img {
  height: 5vw;
}
