.box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 12.5vh;
}

.temperature {
  font-size: calc(75px + 4vw);
  font-weight: 800;
  color: #000;
}

.city {
  padding-top: 7%;
  padding-bottom: 0%;
  font-size: calc(19px + 0.5vw);
}
